[user]
	email = vagos@lamprou.xyz
	name = Evangelos Lamprou
	signingkey = ~/.ssh/git.pub
[init]
	defaultBranch = main
[alias]
	staash = stash --all
[rerere]
	enabled = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	rebase = true
[core]
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RF
[branch]
	sort = -committerdate
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	diffFilter = diff-so-fancy --patch

# plugin settings
[diff-so-fancy]
	useUnicodeRuler = false
